<tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <td valign="middle" class="hero bg_white" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #ffffff; padding: 2em 0 4em 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
        <table style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-spacing: 0; border-collapse: collapse; table-layout: fixed; margin: 0 auto;">
            <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                    <div class="text" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding: 0 2.5em; text-align: center;">
                        <h2 style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #1e52b4; margin-top: 0; font-weight: 400;">Activate your Travitime Account</h2>
                        <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #4e4e4e; font-weight: 400; margin-top: 1em;">Hi {{operator_name}}.</p>
                        <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #4e4e4e; font-weight: 400; margin-top: 1em;">
                            Thank you for registering on Travitime. You've created a new customer account at Travitime. All you have to do is activate it.
                        </p>
                        <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #4e4e4e; font-weight: 400; margin-top: 1em;">
                            <a
                                href="https://goidux.com/travitime.com/beta/demo/auth/activate-account/{{activation_code}}"
                                class="btn btn-orange"
                                style="
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    text-decoration: none;
                                    padding: 10px 15px;
                                    display: inline-block;
                                    width: 80%;
                                    border-radius: 4px;
                                    background: #fd7f00;
                                    color: #ffffff;
                                "
                            >
                                Activate Your Account
                            </a>
                        </p>
                        <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #4e4e4e; font-weight: 400; margin-top: 1em;">or</p>
                        <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #4e4e4e; margin-top: 0; font-weight: 400;">
                            Alternatively click or copy and paste this link below in your browser:
                        </p>
                        <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #4e4e4e; font-weight: 400; margin-top: 1em;">
                            <a href="#" class="" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-decoration: none; color: #1e52b4;">https://goidux.com/travitime.com/beta/demo/auth/activate-account/{{activation_code}}</a>
                        </p>
                        <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #4e4e4e; font-weight: 400; margin-top: 1em;">
                            If you have any questions, reply to this email or contact us at sales@travitime.com
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>