        </table>
        <div class="footer" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: rgba(0, 0, 0, 0.5); margin-top: 1em; padding-bottom: 1em;">
            <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #4e4e4e; margin-top: 0; font-weight: 400;">
                You are receiving this email because you were invited to participate in managing tours and itineary on Travitime. Learn more about
                <a href="#" class="" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-decoration: none; color: #1e52b4;">Travitime managing account.</a>
            </p>
        </div>
    </div>
</center>